.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    margin: 0px 120px;
    padding: 15px 0px;
}

.container p{
    margin:0px;
    color:#585858;
    font-weight: 500;
}

.icons{
    display:flex;
    justify-content:flex-end;
}

.icons ul {
    padding: 0px;
    list-style: none;
    display: flex;
    color: #585858;
    
  }
  
  .icons li {
    margin: 0px 15px;
    font-size: 1.8rem;
    cursor: pointer;
  }
  
  .icons li:first-child {
    margin-left: 0px;
  }

@media screen and (max-width:600px){
    .container{
        margin: 0px 25px;
        grid-template-columns: 1fr 1fr;
    }
}